

/* Post Card */
.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  max-width: 300px;
  border-radius: 5px;
  
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* post image  */
.post-image-container{
  width: 100%;
  max-height: 353px;
  overflow: hidden;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

/* Post text content */

.post-content{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 10px;
  width: 300px;
}
.post-text {
  display: flex;
  align-items: center;
  padding: 2.1rem;
  text-align: justify;

}
.post-text > article > p{
  margin: 0;
  color: #828282;   
}

/* Post owner info */
.owner-image {
  object-fit: cover;
  border-radius:50%;
  width: 40px;
  height: 40px;
}

.owner-info{
  display:flex;
  justify-content:space-between;
  padding: 7px 18px 5px 16px;
  max-height: 5vh;
}
.owner-info > a{
  align-self: baseline;
}

.owner-mail-icon{
  width: 2.5vh;
}

.owner-avatarNname {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.owner-avatarNname > p {
 margin-left: 10px;
 font-weight: 700;

}

/* Post Info */
.post-info {
  display:flex;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid #e7e7e7;
  margin: .5rem 0 0;
  padding:5px;
  height: 25px;
  font-size: .5rem;
}

@media only screen and (min-width: 600px) {
  .post-card {
    max-width: 50vw;
  }

  .post-image-container{
    max-height: 70vh;
  }

  .post-content{
    width: 48vw;
  }

  .post-info{
    height: 40px;
    font-size: 1rem;
  }

  .post-text{
    font-size: 1rem;
  }

  .owner-info{
    font-size: x-large;
  }

  .owner-image{
    width: 60px;
    height: 60px;
  }

}

@media only screen and (min-width: 1200px) {
  .post-card {
    max-width: 40vw;
    
  }

  .post-image-container{
    max-height: 90vh;
  }

  .post-content{
    width: 39vw;
  }

  .post-info{
    height: 40px;
    font-size: 1rem;
  }

  .post-text{
    font-size: large;
    margin-top: 0.8rem;
  }

  .owner-info{
    font-size: large;
  }

  .owner-image{
    width: 60px;
    height: 60px;
  }
}