

/* Post Card */
.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  max-width: 300px;
  border-radius: 5px;
  
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* post image  */
.post-image-container{
  width: 100%;
  max-height: 353px;
  overflow: hidden;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

/* Post owner info */
.owner-image {
  object-fit: cover;
  border-radius:50%;
  width: 40px;
  height: 40px;
}

.owner-info{
  display:flex;
  justify-content:space-between;
  width: 300px;
  padding: 5px 18px 5px 16px;
  max-height: 40px;
}
.owner-info > a{
  align-self: baseline;
}
.owner-avatarNname {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.owner-avatarNname > p {
 margin-left: 5px;

}

/* Post Info */
.post-info {
  display:flex;
  justify-content: space-around;
  width: 100%;
  border-top: 2px solid #e7e7e7;
  margin: .5rem 0 0;
  padding:5px;
  height: 25px;
  font-size: .5rem;
}

/* Post text content */

.post-content{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}
.post-text {
  display: flex;
  align-items: center;
  padding: .5rem;
  margin: 8px;
  text-align: justify;

}
.post-text > article > h5{
  margin: 0 .4rem 0 .4rem;
}

@media only screen and (min-width: 600px) {
  .post-card {
    max-width: 50vw;
   
    background-color: rgb(69, 184, 223);
  }
}